-let title = 'Сам повар - собери свою любимую пиццу!'
-let description = 'Собери свою любимую пиццы, а мы её бесплатно доставим к тебе. телефон: 7235.'
-let keywords = 'Пицца, конструктор пиццы, бесплатная доставка, оплата онлайн, оплата на сайте, собери свою пиццу, пицца гомель, заказать пиццу, спорт пицца, заказать пиццу +в гомеле.'
block variables
include mixins



doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title #{title}
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale= 1')
        meta(property='og:image', content='img/soc.png')
        link(rel='icon', href='img/favicon/favicon.ico')
        link(rel='apple-touch-icon', sizes='100x100', href='img/favicon/favicon.png')
        meta(name='theme-color', content='#000')
        link(rel='stylesheet', href='css/main.css')

    body
        block body
            .top-line
                .container
                    a.top-logo(href="https://sportpizza.by")
                        img(src='img/logo.svg', alt='sportpizza.by')
                    .clock
                        img(src="img/clock.svg", alt="clock")
                        | с 10:00 до 23:00
                    a.logo2(href="https://sam-povar.by")
                        img(src='img/logo2.svg', alt='sam-povar.by')
                    a.top-contact(href='tel:7235')
                        img(src="img/phone.svg", alt="png")
                        .phone 7235
                        img(src="img/mts.png", alt="mts")
                        img(src="img/velcom.png", alt="velcom")
                        img(src="img/life.png", alt="life")
                    a.cart(href="cart.html")
                        img(src="img/cart.svg", alt="cart")
                        #total 0
