template#select_size
    label
        input(type="radio" name="size")
        span
template#select_dough
    label
        input(type="radio" name="doughType")
        span
template#select_base
    label
        input(type="radio" name="base")
        span
template#select_dip
    .dip_item
        img(src="", alt="")
        .price
        .name
        .controll
            .remove
            .current_count 0
            .add