template#select_size

    label
        input(type="radio" name="size")
        span
template#select_dough
    label
        input(type="radio" name="dough")
        span
template#select_base
    label
        input(type="radio" name="base")
        span
template#select_ingredients
    .ingredient_item
        img(src="", alt="")
        .price
        .name
        .control
            .remove -
            .current_count 0
            .add +
template#paycheckLi
    li 
        span.product-name
        span.product-remove
        span.product-price
            span
            | р.
        span.product-count
template#cartLi 
    li 
        .name
            .pos
                span
                | . Ваша пицца
            .make
                .title-list Состав:
                .make-list
        .weight
            span 0
            |  гр. 
        .count 
            .control
                .remove -
                .current_count 1
                .add +
        .price
            span 0 
            | р.
        .delete
            .product-remove
template#cartLiTotal
    li 
        div Всего в корзине
            span#cartTotalCount 1 
            | шт.
        div Итого:
            span#cartTotalPrice 10
            |  р.
            