template#select_size

    label
        input(type="radio" name="size")
        span
template#select_dough
    label
        input(type="radio" name="doughType")
        span
template#select_base
    label
        input(type="radio" name="base")
        span
template#select_ingredients
    .ingredient_item
        img(src="", alt="")
        .price
        .name
        .control
            .remove -
            .current_count 0
            .add +
