extends template/header
block append body
    .header-banner.header-cart
        .header-content.container 
            #page-name.sec_title Корзина
    main.main-cart
        section.cart
            .container
                ul#cartList
                    li.header
                        .name Название
                        .weight Вес
                        .count Количество
                        .price Стоимость
                        .delete Удалить
                    li.totalCart
                        div Всего в корзине: 
                            span#cartTotalCount 0 
                            |  шт.
                        div Итого: 
                            span#cartTotalPrice 0
                            |  р.
                            button#toCheckout.checkout.main-button Оформить заказ
        section.checkout 
            form#clientInfo.container 
                ul
                    li
                        .title 01. Получатель
                        input.clientInfo(type="text" name="name" placeholder="Имя:")
                        input.clientInfo(type="text" name="phone" placeholder="Телефон:" required )
                    li
                        .title 02. Куда будем доставлять?
                        input.clientInfo(type="text" name="adress" placeholder="Адрес доставки:")
                    li
                        .title 03. Выберите способ оплаты
                        label.checked
                            input.clientInfo(type="radio" name="paymethod" value="Наличными" checked)
                            span Наличными
                        label
                            input.clientInfo(type="radio" name="paymethod" value="Банковской картой")
                            span Банковской картой
                        label
                            input.clientInfo(type="radio" name="paymethod" value="Оплата онлайн")
                            span Оплата онлайн
                button#sendOrderButton.main-button Подтвердить заказ

    include template/templates
    include template/footer