extends template/header
block append body
    .header-banner.header-cart
        .header-content.container 
            #page-name.sec_title Оформление заказа
    main.main-checkout
        






    include template/templates
    include template/footer