extends template/header
block append body 
	main
		section.constructor
			.container
				h2.sec_title Конструктор пиццы
				.ingredients
				.pizza-view
				.paycheck
					.paycheck-wrap
						img(src="img/logo2.png", alt="sam-povar.by")
						.title Компания "Сам повар"
							span.date
						.check-list
							.check-list-header Состав вашей пиццы
							ul
								li
									span.product-name Тесто тонкое
									span.product-remove 
									span.product-price 
										span 1.2
										| р.
									span.product-count 1
								li
									span.product-name Томатная основа
									span.product-remove 
									span.product-price 
										span 2.2
										| р.
									span.product-count 1
								li
									span.product-name Ветчина
									span.product-remove 
									span.product-price 
										span 1.3
										| р.
									span.product-count 1
						.total-price Цена: 
							span.price-container 15
							|  р.
						.total-weight Общий вес: 
							span.weight-container 1000
							|  гр.
						button.main-button#send-to-cart Добавить в корзину
			

	include template/footer






            
        

            
        
    

