extends template/header
block append body 
	main
		section.constructor
			h2.sec_title Конструктор пиццы
			.container
				.ingredients
					#step1.step 
						.step_title 01. Размер:
					#step2.step 
						.step_title 01. Тесто:
					#step3.step 
						.step_title 03. Основа пиццы:
					#step4.step
						.step_title 04. Основные ингредиениты:
					#step5.step 
						.step_title 05. Соусы:
				.pizza-view
					.pizza-img
						img(src="img/board.png", alt="pizza-border")
					button#restart Собрать заново
						img(src="img/reload.png", alt="restart")

				.paycheck
					.paycheck-wrap
						img(src="img/logo2.png", alt="sam-povar.by")
						.title Компания "Сам повар"
							span.date
						.check-list
							.check-list-header Состав вашей пиццы
							ul
								li
									span.product-name Тесто тонкое
									span.product-remove 
									span.product-price 
										span 0
										| р.
									span.product-count 1
								li
									span.product-name Томатная основа
									span.product-remove 
									span.product-price 
										span 0
										| р.
									span.product-count 1
								li
									span.product-name Ветчина
									span.product-remove 
									span.product-price 
										span 0
										| р.
									span.product-count 1
						.total-price Цена: 
							span.price-container 0
							|  р.
						.total-weight Общий вес: 
							span.weight-container 0
							|  гр.
						button.main-button#send-to-cart Добавить в корзину
			
	include template/templates
	include template/footer






            
        

            
        
    

