extends template/header
block append body 
	main
		section.constructor
			.container
				h2.sec_title Конструктор пиццы
				.ingredients
				.pizza-view
				.paycheck
			

	include template/footer






            
        

            
        
    

