@import "vars"
@import "mixin"


/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1600px)
    .clean-text
        display: none

// ≥1200px
@media only screen and (max-width : 1200px)
    .container
        width: 100%
    .top-line
        .top-menu
            margin: 0 2%
    .constructor
        .ingredients
            max-width: 380px
            .labels
                .ingredients_label
                    width: 100px
            .ingredient_item 
                width: 100px
        .pizza-view
            max-width: 330px
        .paycheck
            max-width: 330px
// ≥992px
@media only screen and (max-width :1024px)
    body, html
        font-size: 14px
    .container
        padding: 5px
    .constructor
        .pizza-view
            order: 0
            position: static
        .ingredients
            order: 1
            max-width: 100%
            #step4 
                .ingredients-wrap
                    justify-content: space-around
                .ingredient_item 
                    margin: 10px
        .step 
            .step_wrap
                display: none
        .paycheck
            order: 2
            position: static

                
    // ---------------------меню в 1 строку---------------------
    .top-line
        .container
            justify-content: space-around
        .top-contact
            order: 0
            width: 100px
            img:nth-child(3),
            img:nth-child(4),
            img:nth-child(5),
                display: none
            .phone 
                font-size: 1.5rem
        .logo2
            order: 1
            width: 90px
            padding: 10px
            background-position: top center
            img 
                width: 100%
            
        .cart
            width: 100px
            text-align: center
            #total
                left: 55%
            order: 2
        .top-logo
            display: none
        .clock
            display: none


    .header-cart 
        .header-content
            min-height: 150px
        .sec_title 
            padding-left: 0
    #cartList 
        li.header 
            display: none
        li 
            .name 
                max-width: 100%
                margin-bottom: 20px

// ≥768px
@media only screen and (max-width : 768px)
    footer 
        .map
            display: none
        .col 
            width: 100%
        .contacts
            padding: 20px 10px
            width: 100%
            max-width: 100%
        
    .header-cart 
        .header-content
            min-height: 100px
    .main-cart 
        padding: 10px 0
    #cartList 
        padding-left: 0
        li.totalCart
            background-color: #FFE0AD
            text-align: center
            >div 
                width: 100%
            .checkout 
                display: block
                margin: 0 auto
                margin-top: 20px


// ≥576px
@media only screen and (max-width : 576px)
    .top-line 
        .logo2
            width: 120px
    .header-banner
        .container
            min-height: 78vh
            h1 
                font-size: 2rem
    .constructor
        padding: 50px 0
        .container
            padding: 0
        .ingredients
            padding: 10px
            .step
                margin: 30px 0
                transition: .3s
                border-bottom: 1px solid #D0D0D0
                &:last-child
                    border: none
                label
                    line-height: 2
                    padding-left: 50px
                    width: 100%
                    display: block
                    &:before
                        left: 20px
                    &:after
                        left: 22px
                .step_title
                    position: relative
                    &:before 
                        +pseudo 
                        width: 20px
                        height: 20px
                        background: url(../img/plus.svg) no-repeat center
                        background-size: 100% 100%
                        top: 5%
                        right: 10px
                        display: block
                        transition: .3s
            .active_step 
                border-color: transparent
                .step_title:before 
                    opacity: 0
            .ingredients-wrap
                justify-content: space-around
                .ingredient_item 
                    margin: 10px
                    width: 80px
            .labels
                .ingredients_label
                    width: 80px
        .paycheck
            width: 100%
            max-width: 100%
    footer
        background-position: 60%
        .container
            padding-top: 20px
            *
                font-size: 1.2rem
        .contacts
            p:first-child
                font-size: 1.5rem
        .logo 
            display: none



    .header-cart
        .header-content 
            min-height: 150px
    #cartList 
        li 
            justify-content: space-between
            border-bottom: none
            border-top: 1px solid $accent
            padding: 25px 10px
            &:nth-child(2)
                border: none
            .make 
                .title-list
                    width: 100%
                .make-list 
                    width: 100%
            .weight, .count, .price, .delete 
                width: auto
        li.totalCart 
            >div 
                    margin: 10px auto
            *
                font-weight: 400
    section.checkout 
        input 
            margin: 10px 0
        .main-button 
            margin: 0 auto
    .popup
        .popupMessage 
            font-size: 1.9rem
    

   
    



